* {
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #323135;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #666379;
    border-radius: 10px;
  }

@font-face {
    font-family: "Miserichordia";
    src: url("MiserichordiaAltC.ttf");
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: default;
    background-color: #2d2b34;
    color: white;
    font-weight: 300;
}

.containerWrap {
    min-height: 85%;
}

.containerMain {
    overflow: auto;
}

.containerFooter {
    position: relative;
    margin-top: -60px;
    clear: both;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

.containerHeader {
    height: 250px;
    background-image: url(skydark.png);
    background-size: cover;
    position: relative;
}

#title {
    font-family: "Miserichordia";
    font-size: 70px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.containerText {
    padding: 15px 20px 15px 20px;
    padding-bottom: 20px;
    text-align: justify;
    text-justify: inter-character;
}

.containerText p {
    padding-top: 25px;
}

.tabs {
    line-height: 30px;
    background-color: #1b1a1f;
    padding: 15px 20px 15px 20px;
    text-align: center;
}

.tabs ul li {
    list-style-type: none;
    padding-right: 10px;
    color: #c2c1d6;
    text-decoration-line: none;
    font-weight: 300;
    font-size: 15px;
    transition: color .2s;
    display: inline;
}

.tabs ul a {
    padding-right: 10px;
    color: #c2c1d6;
}

.tabs ul li:hover {
    color: white;
}

.tabs>ul>li:hover {
    color: white;
}

.tabs>ul>li.tabActiveHeader {
    color: white;
}

.tabpage {
    /* padding: 15px 20px 15px 20px; */
    text-align: justify;
    text-justify: inter-character;
}

.nextevent, .previous{
    padding: 9px 30px;
}

.backgroundImage{
    width: 100%;
}

.first-div, .next-div{
    position: relative;
}

.crtpage{
    position: absolute;
    right: 50px;
    left: 50px;
    height: 20%;
    bottom: 20px;
    border-radius: 25px;
    text-shadow: 1px 1px 1px black;
}

.crtpage h4{
    color:white;
    position: absolute;
    text-transform: uppercase;
    top: -35px;
    letter-spacing: 3px;
    height: 25px;
    padding: 8px 10px 3px 12px;
    font-size: large;
    font-weight: 300;
}

.crtpage div p{
    background: linear-gradient(45deg, rgba(45,43,52,1) 0%, rgba(45,43,52,1) 19%, rgba(56,53,69,0.8948530095632002) 66%, rgba(61,56,77,0.653956651019783) 100%);
    position: absolute;
    right: 0px;
    left: 0px;
    text-shadow: 1px 1px 1px black;
    padding: 8px 12px 80px 12px;
    border-radius: 0px 10px 10px 10px;
}

.crtpage div a{
    position: absolute;
    right: 0px;
    top: 0px;
    text-shadow: 1px 1px 1px black;
    padding: 8px 12px 0px 12px;
    margin-top: 70px;
}

.crts {
    position: absolute;
    right: 50px;
    left: 50px;
    top: 30px;
}

.crts ul li{
    display: inline;
    list-style-type: none;
    padding: 22px 30px;
    background-color: palevioletred;
    border-radius: 50%;
    margin-right: 10px;
}
   
.containerSwitch {
    padding: 0px 20px 60px 20px;
}

.containerSwitch a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.containerSwitch a:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.zmist {
    color: black;
    transition: color 0.4s, background-color 0.4s;
    text-align: center;
}

.zmist:hover {
    color: white;
    background-color: #1b1a1f;
}

.zmist.active {
    color: white;
}

.zmist.active:hover {
    background-color: white;
    color: #1b1a1f;
}

.previous,
.next,
.nextIntro {
    background-color: white;
    color: #1b1a1f;
    border-radius: 50%;
    transition: color 0.4s, background-color 0.4s;
}

.next {
    position: absolute;
    padding: 22px 30px; 
    right: 50px;
    top: 10px;
}

.previous:hover,
.next:hover,
.nextIntro:hover {
    background-color: #1b1a1f;
    color: white;
}

.previous.active,
.next.active,
.nextIntro.active {
    background-color: #1b1a1f;
    color: white;
}

.previous.active:hover,
.next.active:hover,
.nextIntro.active:hover {
    background-color: white;
    color: #1b1a1f;
}


body {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog div h4{
        padding-bottom: 10px;
}

.modalDialog div p{
    padding-bottom: 5px;
}

.modalDialog div p a{
    text-decoration-line: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 240px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px 20px 20px;
    background: #FFFFFF;
}
.close {
    background: #514e5a;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.close:hover {
    background: black;
}

.hide{
    visibility: hidden;
}

.littleBox{
    display: inline-block; 
    text-shadow: 1px 1px 1px black; 
    background: linear-gradient(45deg, rgba(61,56,77,0.653956651019783) 100%, rgba(56,53,69,0.8948530095632002) 66%);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.littleBox2{
    border-radius: 8px 8px 0px 0px;
    text-shadow: 1px 1px 1px black; 
    background: linear-gradient(45deg, rgba(61,56,77,0.653956651019783) 100%, rgba(56,53,69,0.8948530095632002) 66%);
    z-index: 0;
}


@media screen and (min-width: 480px){

    .containerSwitch {
        padding: 0px 30px 60px 30px;
    }

    /* .tabpage {
        padding: 15px 30px 15px 30px;
    } */

    .tabs {
        padding: 15px 30px 15px 30px;
    }

}

@media screen and (min-width: 1280px){

    #title {
        font-size: 90px;
    }

}